{{define "forum_row"}}<tr id="fl{{.ID}}" data-fid="{{.ID}}">
	<td class="fl_icn"><a class="fl-badge" href="{{forumURL .ID}}" aria-hidden="true">{{indexFirst .Name}}</a></td>
	<td class="fl_name">
		<h2><a href="{{forumURL .ID}}" class="xst">{{.Name}}</a>{{if gt .TodayCount 0}} <em class="xi1 fl-today">({{.TodayCount}})</em>{{end}}</h2>
		<p class="xg2">{{.Description}}</p>
		{{if .Moderators}}<p class="xg2">版主：{{.Moderators}}</p>{{end}}
	</td>
	<td class="fl_i"><span class="xg1">{{.ThreadCount}} / {{.PostCount}}</span></td>
	<td class="fl_by">
		{{if .HasLastPost}}
			<a href="{{threadURL .LastThreadID}}" class="lp-title ellipsis">{{.LastThreadTitle}}</a>
			<cite><a href="{{userURL .LastPostUID}}">{{.LastPostAuthor}}</a> <em>{{timefmt .LastPostAt}}</em></cite>
		{{else}}
			<span class="xg1">从未发表</span>
		{{end}}
	</td>
</tr>{{end}}
