{{define "thread_row"}}<tbody id="row{{.ID}}" data-tid="{{.ID}}">
<tr{{if .Sticky}} class="sticky"{{end}}>
	<td class="icn">
		{{if .Closed}}<span class="tico tico-lock" title="已锁定"></span>
		{{else if .Sticky}}<span class="tico tico-sticky" title="置顶主题"></span>
		{{else if .Digest}}<span class="tico tico-digest" title="精华主题"></span>
		{{else}}<span class="tico tico-normal" title="普通主题"></span>{{end}}
	</td>
	<th class="th">
		<a href="{{threadURL .ID}}" class="xst">{{.Title}}</a>
		{{if .Sticky}}<span class="badge badge-sticky">置顶</span>{{end}}
		{{if .Digest}}<span class="badge badge-digest">精华</span>{{end}}
		{{if .Closed}}<span class="badge badge-lock">锁定</span>{{end}}
		{{if ge .PostCount 11}}<span class="tps">回复 {{.Replies}}</span>{{end}}
	</th>
	<td class="by">
		<cite><a href="{{userURL .AuthorID}}">{{.AuthorName}}</a></cite>
		<em>{{timefmt .CreatedAt}}</em>
	</td>
	<td class="num">
		<a href="{{threadURL .ID}}" class="xi2">{{.Replies}}</a>
		<em>{{.ViewCount}}</em>
	</td>
	<td class="by lp">
		<cite>{{if .LastPostName}}<a href="{{userURL .LastPostUID}}">{{.LastPostName}}</a>{{else}}—{{end}}</cite>
		<em>{{timefmt .LastPostAt}}</em>
	</td>
</tr>
</tbody>{{end}}
