{{define "content"}}
<div id="pt" class="bm cl"><div class="z">
	<a href="/" class="nvhm">{{.SiteName}}</a> <em>›</em> <span>{{.Forum.Name}}</span>
</div></div>

{{if .Page}}<div id="pgt" class="bm bw0 pgs cl"><div class="y pg">{{template "pagination" .}}</div></div>{{end}}

<div id="ct" class="wp cl">
	<div class="mn" data-live="forums={{.Forum.ID}}">
		<div class="bm bmw filter-tabs cl">
			<a href="{{forumURL .Forum.ID}}"{{if not .Sort}} class="a"{{end}}>最新回复</a>
			<a href="{{forumURL .Forum.ID}}?sort=new"{{if eq .Sort "new"}} class="a"{{end}}>最新发表</a>
			<a href="{{forumURL .Forum.ID}}?sort=digest"{{if eq .Sort "digest"}} class="a"{{end}}>精华</a>
			<a href="{{forumURL .Forum.ID}}?sort=hot"{{if eq .Sort "hot"}} class="a"{{end}}>热门</a>
		</div>
		<div class="tl bm bmw" id="threadlist" data-page-size="20">
			<div class="th">
				<table><tr>
					<th class="icn-h" aria-label="状态"></th>
					<th>主题</th>
					<td class="by">作者</td>
					<td class="num">回复 / 查看</td>
					<td class="by lp">最后发表</td>
				</tr></table>
			</div>
			<table class="list" id="threadlisttableid">
				{{range .Stickies}}{{template "thread_row" .}}{{end}}
				{{range .Threads}}{{template "thread_row" .}}{{end}}
				{{if not .Threads}}{{if not .Stickies}}
				<tbody><tr><td colspan="5" class="empty xg1">本版块还没有主题，<a href="/new?fid={{.Forum.ID}}">发表第一个主题</a>吧！</td></tr></tbody>
				{{end}}{{end}}
			</table>
		</div>

		<div class="pgs bm bw0 cl">
			<div class="y pg">{{template "pagination" .}}</div>
			<a href="/new?fid={{.Forum.ID}}" class="pn pnc z">发新帖</a>
		</div>
	</div>
</div>
{{end}}
